USE [MESDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_Traceability_Main_Search]    Script Date: 5/19/2026 3:40:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 ALTER PROCEDURE [dbo].[sp_Traceability_Main_Search]
    @wo_id NVARCHAR(50) = NULL,
    @item_id NVARCHAR(50) = NULL,
    @machine_id NVARCHAR(50) = NULL,
    @from_date DATETIME = NULL,
    @to_date DATETIME = NULL
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
    ROW_NUMBER() OVER (ORDER BY j.wo_id ASC) AS 'NumberOrder',
    j.wo_id AS 'WorkOrder',
    j.item_id AS 'Product',
    i.item_desc AS 'ProductName',
    j.qty_prod AS 'Qty',
    p.process_desc AS 'ProcessName',
    o.process_id AS 'Process',
    w.mo_id AS 'Factory',
    FORMAT(MAX(j.latest_start_time_local), 'HH:mm dd/MM/yyyy') AS 'FromDate',
    FORMAT(MAX(j.req_finish_time_local), 'HH:mm dd/MM/yyyy') AS 'ToDate',
    js.state_desc AS 'Status'
FROM job j
    INNER JOIN item i ON i.item_id = j.item_id
    INNER JOIN oper o ON o.oper_id = j.oper_id
    INNER JOIN process p ON p.process_id = o.process_id
    INNER JOIN job_state js ON js.state_cd = j.state_cd
    INNER JOIN wo w ON w.wo_id = j.wo_id
WHERE
    (@wo_id IS NULL OR @wo_id = '' OR j.wo_id LIKE '%' + @wo_id + '%')
    AND (@from_date IS NULL OR j.latest_start_time_local >= @from_date)
    AND (@to_date IS NULL OR j.req_finish_time_local >= @to_date)
GROUP BY 
    j.wo_id, 
    w.mo_id,
    j.item_id, 
    i.item_desc, 
    j.qty_prod, 
    p.process_desc, 
    o.process_id,
    js.state_desc
END